<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AutoNode</title>
    <link rel="stylesheet" href="/assets/css/missing-1.0.10.min.css">
    <link rel="stylesheet" href="/assets/css/site.css">
    <script src="/assets/js/htmx-1.8.6.min.js" ></script>
</head>
<body>
<header class="navbar">
    <nav class="contents">
        <ul role="list">
            <li>
                <a href="/">Template Generator</a>
            </li>
            <li>
                <a href="/docs">Documentation</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
</header>
<main>
{% block content %}
{% endblock %}
</main>
</body>
</html>
